body {
    font-family: "Lobster", cursive;
  }

  .background {
    background-color: rgb(204, 173, 173);
  }
  
  .nav-link {
    color: #fff !important;
  }

  .nav-tabs {
    border-bottom: 1px solid #eee;
  }
  .nav-tabs .nav-link {
    margin-bottom: -1px;
    background: none;
    border: 1px solid transparent;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .nav-tabs .nav-link:hover,
  .nav-tabs .nav-link:focus {
    border-color: #f5f5f5 #f5f5f5 #eee;
    isolation: isolate;
  }
  .nav-tabs .nav-link.active,
  .nav-tabs .nav-item.show .nav-link {
    color: #757575;
    background-color: #000;
    border-color: transparent;
  }

  .navbar-toggler {
    background-color: rgb(198, 195, 56);
  }